# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Individual Jupyter Notebooks
*.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Specific files and directories in 'tabmap'
tabmap/ablation/
tabmap/notebooks/
tabmap/plot_figures/
tabmap/.ipynb_checkpoints/

# Specific files and directories in 'data' and 'results'
data/.DS_Store
data/
results/
